{% extends 'account/common_a.html' %}
 {% block title %} login {% endblock %}
 {% load material_form %}
 {% block scontent %}
 {{ error }}
 
 <div class = "row">
 	<div class = "col s12 m12 l10 offset-l1">
        <div class="card-panel">
 		    <h4>LOGIN</h4>
 		    <form action="{% url "account:login" %}"method="POST" enctype="multipart/form-data">
 			{% csrf_token %}
 			{% form form=f %}{% endform %}
                 <div class="row">
                     <div class="col s12">
 			                <button type="submit" id ="login-btn" name="submit" value="Login" class="btn waves-effect waves-light">login</button>
 			              </div>
 			       </div>
 		</form>
 	</div>
 </div>
</div>

 <div class ="row">
 	<div class ="col s12 m12 l10 offset-l1">
 		<a href="{% url 'account:forgot-password' %}">Forgot Password</a>
 	</div>
 </div>
 </div>
 {% endblock %}