{% extends 'common/base.html' %}
{% load staticfiles %}    
    {% block extrahead %}
        <link href = "{% static 'postIssue/css/base.css' %}" rel="stylesheet">
    {% endblock %}

    {% block page_title %}{{object.id}}#{{object.category}}{% endblock %}

            {% block content %}
            <div id = "question"class = "blue-grey lighten-5 col l8 offset-l2">
            <div class = "row blue-grey darken-2">
            <div class = "col l6">
            <h4 class=" white-text left-align ">{{ object.title }}</h4 >
            </div>
            <div  class = "col l6 right-align">
            <h6 class="white-text">Created on: {{ object.created_on | timesince}}<br> Raised by: {{ object.raised_by }}</h6>
            {% if object.raised_by.image %}
            <img src ='{{object.raised_by.image.url}}' height="50px" width="50px" class='img-responsive'/>
            {% endif %}

            </div>
            </div>

            <div class = "row">
            <div class = "col l3">
            {% if object.image %}
            <img src ='{{object.image.url}}' height="100px" width="200px" class='img-responsive'/>
            {% endif %}
            </div>

            <div class =" col l6 grey-text"> {{ object.text }}</div>

            <div class="col l3"><a class="btn waves-effect waves-light blue-grey darken-1 " onclick="upvote()"><h6>UPVOTE </h6></a> </div>
            </div>
            </div>

            <script type="text/javascript">
                function upvote() {
                    var post_id = {{ object.id }}
                    $.post({
                        url: '/postIssue/upvote',
                        data: {id: post_id },
                        type: 'GET',
                        success: function(response) {
                            alert(response);
                        }
                    });
                }
            </script>

            <div id="empty"></div>
            
            <div id="solution" class = "blue-grey lighten-5 col l8 offset-l2">
            <div class = "row blue-grey darken-2">
            <div class = "col l8 left-align"><h5 class="white-text">SOLUTIONS</h5></div>
            <div class = "col l4 right-align">
                <a href = "{% url "postIssue:add-solution" i_id=object.id %}" ><h6 class="white-text">POST SOLUTION<h6></a>
            </div>
            </div>

             <ul class="collection">
             {% for s in s_list %}
            <li class="collection-item avatar blue-grey lighten-5">

            <p>{{ s.text}}<br><br></p>
            <div class="row">
            <div class="col l4">
            {% if s.posted_by.image %}
            <img src ='{{s.posted_by.image.url}}' height="50px" width="50px" class='img-responsive'/>
            {% endif %}
            </div>
          
            <div class="col l8">Posted By: {{ s.posted_by }}</div>
            </div>

            </li>

            {% endfor %}
            </ul>
            </div>

            
            {% endblock %}
        